:root {
    --green: #00A7AA;
    --pale-green: #96CFD0;
    --light-green: #63D7DF;
    --light-pale-green: #A2E5EA;
    --soft-red: #F85077;
    --grey: #D6D6D6;
    --light-grey: #F0F5F6;
    --black: #1B1B26;
}
body{
    font-size: 18px;
}
button{
    cursor: pointer;
}
button:disabled{
    cursor: auto;
}
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosExt';
    src: url('../fonts/HeliosExt/heliosext_bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
