:root {
    --green: #00A7AA;
    --pale-green: #96CFD0;
    --light-green: #63D7DF;
    --light-pale-green: #A2E5EA;
    --soft-red: #F85077;
    --error-default: #ED2E7E;
    --error-dark: #C30052;
    --grey: #D6D6D6;
    --light-grey: #F0F5F6;
    --black: #1B1B26;
}
*:focus-visible{
    outline: none;
}
body{
    font-family: sans-serif;
    font-size: 18px;
}
button{
    cursor: pointer;
}
a {
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
}

svg{
    height: 1.2em;
}
.textarea{
    &:focus,
    &:focus-visible {
         outline: none
     }
}
input {
    &:focus,
    &:focus-visible {
        outline: none
    }
}
@font-face {
    font-family: 'Mulish';
    src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosExt';
    src: url('../fonts/HeliosExt/heliosext_bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeliosExt';
    src: url('../fonts/HeliosExt/heliosext.otf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
